# Compiled files
/target/
*.jar
*.war

# Local environment
/.env
/application.properties
/.idea/
/.vscode/
/.settings/
/.classpath
/.project
/.factorypath

# Logs and temporary files
/logs/
*.log
*.tmp

# Secrets
/secrets/
/*.key
/*.pem

# Maven dependencies
/.mvn/
/mvnw
/mvnw.cmd